#hoverbox {
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    z-index: 5000;
    height: 20vh;
    width: 15vh;
    padding: 0 1% 1% 1%;
    opacity: 0.6;
}

#header {
    color: white;
    text-align: center;
}