#hoverbox {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #f5f5f5; */
    margin: 10px;
    z-index: 10;
    padding: 0 1% 1% 1%;
    opacity: 1;
    /* backdrop-filter: blur(20px); */
}

#header {
    color: black;
    font-weight: bold;
    text-align: center;
}

/* #terms {
    color: darkgreen;
    font-size: 0.8vw;
}

#prereq {
    color: darkblue;
    font-size: 0.8vw;
}

#exclusion {
    color: darkred;
    font-size: 0.8vw;
}

#corequisites {
    color: darkmagenta;
    font-size: 0.8vw;
} */

#testing {
    @import 'semantic-ui';
}