.node1 {
    display: 'flex';
    box-shadow: '0px 0px 3px grey';
    text-align: 'center';
    align-items: 'center';
    font-size: 8;
    color: 'white';
    background: 'black';
    width: 64;
    height: 64;
    border-radius: 32;
}

.node_header {
    display: 'flex';
    box-shadow: '0px 0px 3px grey';
    text-align: 'center';
    align-items: 'center';
    font-size: 8;
    color: 'white';
    background: 'black';
    width: 64;
    height: 64;
    border-radius: 32;
}

.edge_opaque_02 {
    opacity: 0.2;
    stroke: 'blue';
}