#closeToggle {
    background: purple;
    float: right;
}

#toggle {
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    background: green;
    border: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4999;
}

.sidebarHeader {
    display: inline-block;
    font-size: 3vh;
    color: green;
    background: pink;
}

.courseGroup {
    display: block;
    font-size: 2.5vh;
    color: red;
    background: blue;
}

.sidebar {
    overflow-y: auto;
    height: 100vh;
    padding-left: 2%;
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 30vh;
    position: fixed;
    z-index:  5000;
    right: -100%;
    animation: slide-open 0.5s forwards;
}

@keyframes slide-open {
    100% { right: 0}
}

.sidebar.close {
    right: 0;
    animation: slide-closed 1s forwards;
}

@keyframes slide-closed {
    100% { right: -100% }
}
